{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
  {%- assign t = template | split: '.' | first -%}

  <div class="custom_breadcrumb">
    <div class="custom_breadcrumb_max_width">
      {%- case t -%}
        {%- when 'page' -%}
          <nav class="breadcrumb" aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <ol class="breadcrumb__list" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <li class="breadcrumb__item">
                <a class="breadcrumbs__link" href="/"><span itemprop="name">Accueil</span></a>
              </li>
              <li class="breadcrumb__item">
                <a class="breadcrumbs__link" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
                <meta itemprop="position" content="{{ forloop.length }}">
              </li>
            </ol>
          </nav>
        {%- when 'product' -%}
          <nav class="breadcrumb" aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <ol class="breadcrumb__list" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <li
                class="breadcrumb__item"
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem"
              >
                <a href="/"><span itemprop="name">Accueil</span></a>
                <meta itemprop="position" content="{{ forloop.length }}">
              </li>
              {% for collection in product.collections %}
                {% if collection.handle != 'all' %}
                  <li
                    class="breadcrumb__item"
                    itemprop="itemListElement"
                    itemscope
                    itemtype="http://schema.org/ListItem"
                  >
                    <a href="{{ collection.url }}" itemprop="item">{{ collection.title }}</a>
                    <meta itemprop="position" content="{{ forloop.index }}">
                  </li>
                {% endif %}
              {% endfor %}
              <li
                class="breadcrumb__item breadcrumb__item--active"
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem"
              >
                <span itemprop="name">{{ product.title }}</span>
                <meta itemprop="position" content="{{ forloop.length }}">
              </li>
            </ol>
          </nav>
        {%- when 'collection' -%}
          <nav class="breadcrumb" aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <ol class="breadcrumb__list" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              {% for collection in collection.all_parents %}
                <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                  <a href="{{ collection.url }}" itemprop="item">{{ collection.title }}</a>
                  <meta itemprop="position" content="{{ forloop.index }}">
                </li>
              {% endfor %}
              <li
                class="breadcrumb__item breadcrumb__item--active"
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem"
              >
                <span itemprop="name">{{ collection.title }}</span>
                <meta itemprop="position" content="{{ forloop.length }}">
              </li>
            </ol>
          </nav>
      {% endcase %}
    </div>
  </div>
{%- endunless -%}
<style>
      .custom_breadcrumb{
      width:100%;
    }
    .custom_breadcrumb_max_width{
      width:100%;
      max-width:{{ section.settings.breadCrumbMaxWidth}}px;
      margin: 0 auto;
      padding: 25px 20px 0;
    }
      .breadcrumb {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      color: #666;
      margin-bottom: 0px;
      border-left: 3px solid #1E2C21;
      padding-left: 9px;

    }

    .breadcrumb__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .breadcrumb__item:not(:last-child)::after {
      content: '>';
      margin: 0 10px;
    }
  .breadcrumb__list li{
    line-height: 110%;
  }
    .breadcrumb__item a,
    .breadcrumb__item--active span {
      text-decoration: none;
      line-height: 110%;
      font-size: 14px;
      font-weight: 600;
    }
  .breadcrumb__item--active span {
      color: #1E2C21;
    }
  .breadcrumb__item a {
      color: #6A6A6A;
    }
    .breadcrumb__item a{

       line-height: 110%;
    }
    .breadcrumb__item--active span {
      font-weight: 600;

    }

    @media only screen and (max-width:767px){
      .custom_breadcrumb_max_width{
        padding:10px 20px;
      }
    }
</style>

{% schema %}
{
  "name": "Custom Breadcrumb",
  "settings": [
  {
    "type": "checkbox",
    "id": "show_breadcrumb",
    "label": "Show Breadcrumb",
    "default": true
  },
  {
    "type": "number",
    "id": "breadCrumbMaxWidth",
    "label": "Section Max Width",
    "default": 1280,
    "info": "To align sections together you can give each section the same Max Width."
  }
  ],
  "presets": [
  {
    "name": "Custom Breadcrumb"
  }
  ]
}
{% endschema %}
