<div>
  <div class="frill-price-main">
    <div class="frill-price-main-container">
      <div class="frill-price-main-sub-container">
        <div class="frill-price-box-container-1">
          <div class="frill-price-text-container">
            <div class="frill-price-headings">{{ section.settings.heading_1 }}</div>
            <div class="frill-price-paragraph">{{ section.settings.paragraph_1 }}</div>
          </div>
          <div class="frill-price-image_1">
            {% for block in section.blocks %}
              <div class="image-frill-box">
                <img src="{{ block.settings.image_1 | img_url: 'master' }}">
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
     .frill-price-main{
       padding: {{  section.settings.top_padding }}px {{ section.settings.right_padding }}px {{ section.settings.bottom_padding }}px {{ section.settings.left_padding }}px;
       max-width: {{ section.settings.page_size }}px;
       width: 100%;
       margin: 0 auto;
     }
     .frill-price-main-container{
       padding: 20px;
       border: 1px solid {{ section.settings.border_body }};
       border-radius: 100px;
     }
     .frill-price-main-sub-container{
       background-color: {{ section.settings.background_color_body }};
       border-radius: 100px;
       padding: 20px 0px 0px;
       box-shadow:  0px 4px 12px rgba(0, 0, 0, 0.11);
     }
     .frill-price-headings p{
       font-size: {{ section.settings.heading_font_size }}px;
       font-weight: {{ section.settings.heading_font_weight }};
       color: {{ section.settings.heading_color }};
       margin: 0;
       max-width: 410px;
       line-height: 52px;
       letter-spacing: 0px;
     }
     .frill-price-paragraph p{
       font-size: {{ section.settings.paragraph_font_size }}px;
       font-weight: {{ section.settings.paragraph_font_weight }};
       color: {{ section.settings.paragraph_color }};
       margin: 0;
       line-height: 24px;
       max-width: 340px;
       letter-spacing: 0px;
     }
     .frill-price-paragraph{
       text-align: start;
       width: 100%;
       max-width: 403px;
      }
     .frill-price-box-container-1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
     }
    .frill-price-box-container-2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        padding-top: 60px;
     }


     .frill-price-image_1{
        display: flex;
        align-items: center;
        justify-content: center;
         position: relative;
         top: -40px;
     }

     .frill-price-text-container{
           width: 50%;
           padding: 0px 50px;
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
     }
     .frill-price-image_1{
           width: 100%;
     }

     .image-frill-box{

       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       padding: 10px;
       margin-right: 8px;
     }
     .frill-price-headings p strong{
        position: relative;
     }
     .frill-price-headings p strong:after{
        content: "";
        background-image:url('https://cdn.shopify.com/s/files/1/0789/9778/2834/files/cNkcef.png?v=1689602005');
       position: absolute;
        left: 0;
        bottom: -20px;
        max-width: 160px;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
     }
    {% for block in section.blocks %}
                 {% case block.type %}
                   {% when 'image_1' %}
     .image-box-{{ forloop.index }} img{
       background-color:{{ block.settings.image_bg }};
       border-radius: 100%;
     }
                    {% endcase %}
               {% endfor %}
      @media only screen and (max-width:1100px){
     .frill-price-text-container {
       padding: 0px 30px 0px 40px;
      }
      .frill-price-box-container-2 .frill-price-text-container {
          padding: 0px 40px 0px 30px;
      }
      .frill-price-headings p {
       font-size: {{ section.settings.heading_font_size_desktop }}px;
       max-width: 347px;
      }
     .frill-price-paragraph p {
       font-size: {{ section.settings.paragraph_font_size_desktop }}px;
       max-width: 340px;
     }
     .frill-price-paragraph {
       max-width: 342px;
    }
      }
      @media only screen and (max-width:900px){
     .frill-price-main{
       padding: {{ section.settings.top_padding_mobile }}px {{ section.settings.right_padding_mobile }}px {{ section.settings.bottom_padding_mobile }}px {{ section.settings.left_padding_mobile }}px;
     }
    .frill-price-box-container-2 .frill-price-text-container{
       width: 100%;
    }
    .frill-price-image_2{
      width: 100%;
    }
     .frill-price-text-container {
       padding: 0px 10px 15px 10px;
      }
      .frill-price-box-container-2 .frill-price-text-container {
          padding: 0px 10px 15px 10px;
      }
    .frill-price-paragraph {
        max-width: 300px;
    }
    .frill-price-main-container {
    padding: 10px;
    }
  .frill-price-main-sub-container {
    padding: 30px 0px;
  }
        .frill-price-text-container {
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
     .frill-price-image_1 {
      width: 100%;
  }
            .frill-price-box-container-2{
        padding-top: 30px;
     }

                }
   @media only screen and (max-width:767px){
      .frill-price-main-sub-container {
            padding: 20px 0px;
        }
     .frill-price-main-container {
          border-radius: 50px;
      }
    .frill-price-main-sub-container {
        border-radius: 50px;
    }
     .frill-price-headings p {
          font-size: {{ section.settings.frillPrice767 }}px;
          line-height: 24px;
      }
              .frill-price-text-container {
                  padding: 0px 10px 0px 10px;
              }
         .frill-price-image_1 {
              top: 0px;
          }
   }
   @media only screen and (max-width:600px){
    {% if section.settings.hideSectionOnMobile %}
    .frill-price-main{
     display: none;
    }
    {% endif %}
  }
</style>

{% schema %}
{
  "name": "No Frill Price",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "number",
      "id": "page_size",
      "label": "Page Container",
      "default": 1270
    },
    {
      "type": "color",
      "id": "background_color_body",
      "label": "Body Background Color",
      "default": "#FFF8F1"
    },
    {
      "type": "color",
      "id": "border_body",
      "label": "Body border Color",
      "default": "#49946D"
    },
    {
      "type": "range",
      "id": "top_padding",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top Padding",
      "default": 60
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 60
    },
    {
      "type": "range",
      "id": "right_padding",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Right Padding",
      "default":20
    },
    {
      "type": "range",
      "id": "left_padding",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top Padding",
      "default": 20
    },
    {
      "type": "header",
      "content": "Heading Settings"
    },
    {
      "type": "richtext",
      "id": "heading_1",
      "label": "Heading 1"
    },
    {
      "type": "richtext",
      "id": "heading_2",
      "label": "Heading 2"
    },
     {
      "type": "range",
      "id": "heading_font_size",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Heading Font Size",
      "default": 33
    },
    {
      "type": "range",
      "id": "heading_font_weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "unit": "px",
      "label": "Heading Font Weight",
      "default": 700
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#1E2C21"
    },
    {
      "type": "header",
      "content": "Paragraph Settings"
    },
    {
      "type": "richtext",
      "id": "paragraph_1",
      "label": "Paragraph 1"
    },
    {
      "type": "richtext",
      "id": "paragraph_2",
      "label": "Paragraph 2"
    },
     {
      "type": "range",
      "id": "paragraph_font_size",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Paragraph Font Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "paragraph_font_weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "unit": "px",
      "label": "Paragraph Font Weight",
      "default": 400
    },
    {
      "type": "color",
      "id": "paragraph_color",
      "label": "Paragraph Color",
      "default": "#1E2C21"
    },
    {
      "type": "header",
      "content": "Font-size Settings On 1100px"
    },
    {
      "type": "range",
      "id": "heading_font_size_desktop",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Heading Font Size 1100",
      "default": 28
    },
    {
      "type": "range",
      "id": "paragraph_font_size_desktop",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Paragraph Font Size 1100",
      "default": 14
    },

    {
      "type": "header",
      "content": "Section Settings On Mobile"
    },
    {
      "type": "checkbox",
      "id": "hideSectionOnMobile",
      "label": "Hide section",
      "info": "hide section on all mobile screens",
      "default": true
    },
    {
      "type": "range",
      "id": "top_padding_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top Padding On Mobile",
      "default": 30
    },
    {
      "type": "range",
      "id": "bottom_padding_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom Padding On Mobile",
      "default": 30
    },
    {
      "type": "range",
      "id": "right_padding_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Right Padding On Mobile",
      "default":20
    },
    {
      "type": "range",
      "id": "left_padding_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top Padding On Mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "frillPrice767",
      "min": 1,
      "max": 32,
      "step": 1,
      "unit": "px",
      "label": "Heading 1 font size monbile",
      "default": 20
    }

  ],
  "blocks":[
  {
    "name": "frill-price Image 1",
    "type": "image_1",
    "settings":[
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
        }
    ]
  }
],
"presets": [
{
  "name": "No Frill Price"

}
]
}
{% endschema %}
