<div>
  <div class="image-slider-main">
    <div class="image-slider-main-container">
      <div class="image-slider-main-sub-container">
        <div class="image-slider-box-container-1">
          <div class="image-slider-text-container">
            <div class="image-slider-headings">{{ section.settings.heading_1 }}</div>
          </div>
          <div class="image-slider-image_1">
            {% for block in section.blocks %}
              <div
                class="image-slider-box silder-image{{ forloop.index }}"
                style="background-image: url('{{ block.settings.image_1 | img_url: 'master' }}');"
              ></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
               .image-slider-main{
                 padding: {{  section.settings.top_padding }}px {{ section.settings.right_padding }}px {{ section.settings.bottom_padding }}px {{ section.settings.left_padding }}px;
                 max-width: {{ section.settings.page_size }}px;
                 width: 100%;
                 margin: 0 auto;
               }
               .image-slider-main-container{
                 padding: 20px;
                 border: 1px solid {{ section.settings.border_body }};
                 border-radius: 100px;
               }
               .image-slider-main-sub-container{
                  background-color: {{ section.settings.background_color_body }};
                   border-radius: 100px;
                 padding: 0px 0px;
               }
               .image-slider-headings p{
                 font-size: {{ section.settings.heading_font_size }}px;
                 font-weight: {{ section.settings.heading_font_weight }};
                 color: {{ section.settings.heading_color }};
                 margin: 0;
                 max-width: 410px;
                 line-height: 52px;
                 letter-spacing: 0px;
               }
               .image-slider-paragraph p{
                 font-size: {{ section.settings.paragraph_font_size }}px;
                 font-weight: {{ section.settings.paragraph_font_weight }};
                 color: {{ section.settings.paragraph_color }};
                 margin: 0;
                 line-height: 24px;
                 max-width: 340px;
                   letter-spacing: 0px;
               }
               .image-slider-paragraph{
                   text-align: start;
                   width: 100%;
                   max-width: 403px;
                }
               .image-slider-box-container-1{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-wrap: wrap;
               }

               .image-slider-image_1{
                  display: flex;
                  align-items: center;
                  justify-content: center;
               }
          .image-slider-image_2{
                      width: 50%;
                      display: flex;
                  align-items: center;
                  justify-content: center;
                      }
               .image-slider-image_1{
                     width: 100%;
               }

  /*           .silder-image{{ forloop.index }}{
              background-image: url({{ block.settings.image_1 | img_url: 'master' }});
             padding-bottom: 276px;
            border-radius: 100px;
            } */

            .slick-dotted.slick-slider {
            margin-bottom: 0px !important;
        }
                .slick-dots {
          bottom: 15px !important;
      }

                .slick-dots li button {
        background: #fff ;
                border:1px solid #fff ;
                border-radius: 50%;
    }
                 .slick-dots .slick-active button{
               background: #49946D;
                border:1px solid #fff;
                border-radius: 50%;
      }
                .slick-dots li button:before {
                    display: none;
               }
               .image-slider-box{
                 display: flex;
                 flex-wrap: wrap;
                 justify-content: center;
                 align-items: center;
                 margin-right: 8px;
               }
               .image-slider-headings p strong{
                  position: relative;
               }
               .image-slider-headings p strong:after{
                  content: "";
                  background-image:url('https://cdn.shopify.com/s/files/1/0789/9778/2834/files/cNkcef.png?v=1689602005');
                 position: absolute;
                  left: 0;
                  bottom: -20px;
                  max-width: 160px;
                  width: 100%;
                  height: 100%;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: contain;
               }
              {% for block in section.blocks %}
                           {% case block.type %}
                             {% when 'image_1' %}
               .image-box-{{ forloop.index }} img{
                 background-color:{{ block.settings.image_bg }};
                 border-radius: 100%;
               }
                              {% endcase %}
                         {% endfor %}
                @media only screen and (max-width:1100px){
               .image-slider-text-container {
                 padding: 0px 30px 0px 40px;
                }
                .image-slider-headings p {
                 font-size: {{ section.settings.heading_font_size_desktop }}px;
                 max-width: 347px;
                }
               .image-slider-paragraph p {
                 font-size: {{ section.settings.paragraph_font_size_desktop }}px;
                 max-width: 340px;
               }
               .image-slider-paragraph {
                 max-width: 342px;
              }
                }
                @media only screen and (max-width:900px){
               .image-slider-main{
                 padding: {{ section.settings.top_padding_mobile }}px {{ section.settings.right_padding_mobile }}px {{ section.settings.bottom_padding_mobile }}px {{ section.settings.left_padding_mobile }}px;
               }
              .image-slider-image_2{
                width: 100%;
              }
               .image-slider-text-container {
                 padding: 0px 10px 15px 10px;
                }
              .image-slider-paragraph {
                  max-width: 300px;
              }
              .image-slider-main-container {
              padding: 10px;
              }
            .image-slider-main-sub-container {
              padding: 30px 0px;
            }
                  .image-slider-text-container {
                width: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
               .image-slider-image_1 {
                width: 100%;
            }
                          }
             @media only screen and (max-width:767px){
            .image-slider-main-container {
              border-radius: 50px;
            }
            .image-slider-main-sub-container {
              border-radius: 50px;
            }
              .image-slider-headings p{
                 font-size: 20px;
               }
               .image-slider-paragraph p {
                    font-size: 12px;
                }
               .image-slider-paragraph p {
                    max-width: 260px;
                    margin: 0 auto;
                }
                .image-slider-headings p strong::after {
                  bottom: -15px;
                }
                .image-slider-paragraph{
                 max-width: 100%;
               }
             }
</style>

<script type="text/javascript">
  $(document).ready(function() {
  $('.image-slider-image_1').slick({
    slidesToShow: 1,
   slidesToScroll: 1,
    fade: true,
   autoplay: {{ section.settings.slick_autoplay }},
   autoplaySpeed: 0,
    dots: {{ section.settings.slick_dots }},
    arrows: {{ section.settings.slick_arrow }},
      speed: {{ section.settings.slick_autoplay_speed }},
        cssEase: 'linear',
        infinite: true,
     initialSlide: 1,

    centerPadding: '0px',
    centerMode: true,
    {% if section.settings.pre_arr != blank %}
    prevArrow:'<img src="{{ section.settings.pre_arr | img_url: 'master' }}"/>',
    {% endif %}
    {% if section.settings.next_arr != blank %}
    nextArrow:'<img src="{{ section.settings.next_arr | img_url: 'master' }}"/>',
    {% endif %}

    responsive: [
      {
       breakpoint: 1200,
       settings: {
         arrows: {{ section.settings.slick_arrow }},
         centerMode: false,
         centerPadding: '40px',
         slidesToShow: 1,
         slidesToScroll: 1,
       }

     }
   ]
  });
  });
</script>
<!--
  <script>
    setTimeout(() => {
      const slideBtns = document.querySelectorAll('.slick-dots li button');
      async function clickButtonMultipleTimes(buttons, times) {
        for (let i = 0; i < times; i++) {
          for (const btn of buttons) {
            await new Promise((resolve) => {
              setTimeout(() => {
                btn.click();
                resolve();
              }, 1000);
            });
          }
        }
      }
      clickButtonMultipleTimes(slideBtns, 5);
    }, 1500)
  </script>
-->
{% schema %}
{
  "name": "image-slider",
  "settings": [
    {
      "type": "header",
      "content": "Slider Settings"
    },
        {
      "type": "checkbox",
      "id": "slick_arrow",
      "label": "Arrow Show/Hide",
      "default": false
    },
        {
      "type": "checkbox",
      "id": "slick_dots",
      "label": "Dots Show/Hide",
      "default": false
    },
        {
      "type": "checkbox",
      "id": "slick_autoplay",
      "label": "Autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "slick_autoplay_speed",
      "min": 1000,
      "max": 5000,
      "step": 500,
      "unit": "px",
      "label": "Autoplay Speed",
      "default": 2000
    },
    {
      "type": "image_picker",
      "id": "pre_arr",
      "label": "Previous Arrow Icon"
    },
    {
      "type": "image_picker",
      "id": "next_arr",
      "label": "Next Arrow Icon"
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "number",
      "id": "page_size",
      "label": "Page Container",
      "default": 1270
    },
    {
      "type": "color",
      "id": "background_color_body",
      "label": "Body Background Color",
      "default": "#FFF8F1"
    },
    {
      "type": "color",
      "id": "border_body",
      "label": "Body border Color",
      "default": "#49946D"
    },
    {
      "type": "range",
      "id": "top_padding",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top Padding",
      "default": 60
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 60
    },
    {
      "type": "range",
      "id": "right_padding",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Right Padding",
      "default":20
    },
    {
      "type": "range",
      "id": "left_padding",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top Padding",
      "default": 20
    },
    {
      "type": "header",
      "content": "Heading Settings"
    },
    {
      "type": "richtext",
      "id": "heading_1",
      "label": "Heading 1"
    },
     {
      "type": "range",
      "id": "heading_font_size",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Heading Font Size",
      "default": 33
    },
    {
      "type": "range",
      "id": "heading_font_weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "unit": "px",
      "label": "Heading Font Weight",
      "default": 700
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#1E2C21"
    },
    {
      "type": "header",
      "content": "Paragraph Settings"
    },
    {
      "type": "richtext",
      "id": "paragraph_1",
      "label": "Paragraph 1"
    },
     {
      "type": "range",
      "id": "paragraph_font_size",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Paragraph Font Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "paragraph_font_weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "unit": "px",
      "label": "Paragraph Font Weight",
      "default": 400
    },
    {
      "type": "color",
      "id": "paragraph_color",
      "label": "Paragraph Color",
      "default": "#1E2C21"
    },
    {
      "type": "header",
      "content": "Font-size Settings On 1100px"
    },
    {
      "type": "range",
      "id": "heading_font_size_desktop",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Heading Font Size 1100",
      "default": 28
    },
    {
      "type": "range",
      "id": "paragraph_font_size_desktop",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Paragraph Font Size 1100",
      "default": 14
    },

    {
      "type": "header",
      "content": "Section Settings On Mobile"
    },
    {
      "type": "range",
      "id": "top_padding_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top Padding On Mobile",
      "default": 30
    },
    {
      "type": "range",
      "id": "bottom_padding_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom Padding On Mobile",
      "default": 30
    },
    {
      "type": "range",
      "id": "right_padding_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Right Padding On Mobile",
      "default":20
    },
    {
      "type": "range",
      "id": "left_padding_mobile",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top Padding On Mobile",
      "default": 20
    }

  ],
  "blocks":[
  {
    "name": "image-slider Image 1",
    "type": "image_1",
    "settings":[
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
        },
        {
          "type": "color",
          "id": "image_bg",
          "label": "Paragraph Color",
          "default": "#1E2C21"
        }
    ]
  }
],
"presets": [
{
  "name": "image-slider"

}
]
}
{% endschema %}
